*{
    margin: 0;
    border: 0;
    border: border-box;
}
.header {
    background-color: rgb(255, 255, 255);
}

.background-image {
    background-image: url("background image.jpg");
    height: 700px;
    width: 100%;
}

.nev {
    height: 60px;
    width: 100%;
}
.nevbar {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 31);
    position: fixed;
}

.left-logo{
    height: 30px;
    width: 30px;
    background-size: cover;
    margin: -10px 0px 10px 10px;
}

@media(min-width:300px) and (max-width:400px) {

}
.left-logo-text{
    color: rgb(206, 206, 206);
    font-size: 1;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.mid{
    margin-left: 4%;
    
}
.mid1{
    text-decoration: none;
    color: white;
    margin-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mid1:hover {
    color: rgb(120, 120, 120);
    text-decoration: underline;
}

.main{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.main-text {
    color: white;
    border-radius: 20px;
    height: 300px;
    width: 40%;
}

.main-text1 {
    font-size: 2rem;
    margin-top: 10%;
    margin-left: 35%;
}

.main-text2 {
    font-size: 4rem;
    margin-left: 5%;
}

.main-pic {
    background-size: cover;
    border-radius: 10px;
    height: 400px;
    width: 70%;
    box-shadow: -4px 4px 10px 15px;
    animation: photos 10s step-start 2s infinite;
}

@keyframes photos {
    20% {
        background-image: url("big box1.jpg");
    }

    40% {
        background-image: url("big box2.jpg")
    }

    60% {
        background-image: url("index photo1.avif")
    }

    80% {
        background-image: url("big box 4.webp")
    }

    100% {
        background-image: url("big box3.jpg")
    }
}

.main-pic:hover {
    cursor: pointer;
}

.main2 {
    height: 8%;
    width: 40%;
    color: white;
    font-size: 1.2rem;
    margin-left: 10px;
}

.our-mission {
    background-color: rgb(240, 240, 240);
    height: 500px;
    width: 100%;
    border-top: 1px solid rgb(255, 255, 255);
    margin-top: 30px;
}

.our-mission-bignev {
    margin-top: 100px;
}
.our-mission-heading {
    font-size: 3rem;
    margin-left: 10%;
    color: rgb(0, 0, 0);
}

.our-mission-content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.our-mission-content-para {
    height:300px;
    width: 40%;
    font-size: 1.1rem;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

.our-mission-content-pic {
    height: 250px;
    width: 40%;
    margin-top: -130px;
    background-image: url("our mission.webp");
    background-size: cover;
    border-radius: 8px;
}

.our-mission-content-pic:hover {
    cursor: pointer;
}

.our-mission-heading2 {
    margin-left: 52%;
    font-size: 2rem;
    margin-top: 150px;
}

.empowering {
    height: 300px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.empoering-bignev {
    margin-top: 30px;
    border-top: 1px solid white;
}

.empoering-heading2 {
    font-size: 2rem;
    margin-top: 80px;
    margin-left: 53%;
    color: rgb(0, 0, 0);
}

.empoering-content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.empoering-content-pic {
    height: 200px;
    width: 40%;
    margin-top: -30px;
    background-image: url("empowering.jpg");
    background-size: cover;
    border-radius: 8px;
}

.empoering-content-para {
    height: 100px;
    width: 35%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.service {
    height: 470px;
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.service-pic {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.service-pic1 {
    height: 300px;
    width: 40%;
    background-image: url("battery service pic1.png");
    background-size: cover;
    border-radius: 8px;
}

.service-pic2 {
    height: 310px;
    width: 40%;
    background-image: url("battery service pic2.jpeg");
    background-size: cover;
    border-radius: 8px;
}



.service-para-button {
    background-color: rgb(0,0,31);
    color: white;
    height: 40px;
    width: 15%;
    border-radius: 8px;
    font-size: 1.2rem;
    margin: 20px 0px 0px 45%;
    box-shadow: 5px 5px 10px 5px rgb(122, 122, 122);
}

.service-para-button:hover {
    background-color: rgb(0,0,150);
}

.revolution {
    height: 400px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.revolution-content {
    height: 300px;
    width: 40%;
    margin-top: 10%;
}

.revolution-pic {
    background-image: url("revolution photo.jpeg");
    background-size: cover;
    height: 300px;
    width: 40%;
    border-radius: 7px;
}

.revolution-content-text1 {
    font-size: 3rem;
    font-weight: 700;
    margin-left: 5%;
}

.revolution-content-text2 {
    font-size: 1.1rem;
    color: rgb(74, 74, 74);
    margin-top: 15px;
}

.footer {
    height: 300px;
    width: 100%;
    color: rgb(194, 194, 194);
    background-color: rgb(0, 0, 31);
}

.footer-box {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.footer-box1 {
    height: 240px;
    width: 50%;
    
}

.footer-box1-upper-text {
    font-size: 1rem;
    margin-left: 5%;
}

.footer-box1-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: 2%;
}

.footer-box1-form {
    height: 200px;
    width: 45%;
}

.footer-box1-form-input {
    margin: 0% 0px 0px 8%;
}

.footer-input {
    margin-top:5%;
    width: 90%;
    border-radius: 3px;
}

.footer-box1-submit {
    height: 25px;
    width: 120px;
    margin: 8% 0% 0% 30%;
    border-radius: 4px;
}

.footer-box1-submit:hover {
    background-color: rgb(172, 172, 172);
}

.footer-box2-text {
    height: 200px;
    width: 45%;
}


.footer-box2-text1 {
    font-size: 1.2rem;
    margin-left: 8%;
}

ul {
    list-style: none;
}

ul li {
    margin-top: 2%;
}

.footer-box2 {
    height: 240px;
    width: 45%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px solid red;
}

.contactus {
    height: 220px;
    width: 45%;
}

.contactus-text {
    font-size: 1.5rem;
    color: gray;
    margin-left: 20%;
}

.contactus-whatsup {
    font-size: 0.9rem;
    margin-top: 10px;
}

.contactus-phone {
    display: flex;
}

.contactus-phone-heading {
    font-size: 20px;
    font-weight: 900;
    margin: 8% 0% 0% 5%;
}

.contactus-phone-text {
    margin: 10% 0% 0% 3%;
}

.contactus-email {
    display: flex;
}

.contactus-email-heading {
    font-size: 20px;
    font-weight: 900;
    margin: 5% 0% 0% 5%;
}

.contactus-email-text {
    margin: 6% 0% 0% 3%;
}

.address {
    height: 220px;
    width: 45%;
}

.address-text {
    font-size: 1.5rem;
    color: gray;
    margin-left: 25%;
}

.address-box {
    height: 100px;
    width: 80%;
    margin: 5% 0% 0% 15%;
}

.footer-last {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-lastbox {
    height: 40px;
    width: 40%;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}







 @media(min-width:300px) and (max-width:400px) {


    *{
        margin: 0;
        border: 0;
        border: border-box;
    }
    .header {
        background-color: rgb(255, 255, 255);
    }
    
    .background-image {
        background-image: url("background image.jpg");
        height: 300px;
        width: 100%;
        background-size: cover;
    }
    
    .nev {
        height: 40px;
        width: 100%;
    }
    .nevbar {
        display: flex;
        height: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(0, 0, 31);
        position: fixed;
    }
    
    .left-logo{
        height: 15px;
        width: 30px;
        background-size: cover;
        margin: -10px 0px 10px 10px;
    }
    
    .left-logo-text{
        color: rgb(206, 206, 206);
        font-weight: 550;
        font-size: 0.6rem;
        font-family: 'Times New Roman', Times, serif;
    }
    .mid{
        margin-right: 6%;
        
    }
    .mid1{
        text-decoration: none;
        color: white;
        margin-right: 20px;
        font-size: 0.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .mid1:hover {
        color: rgb(120, 120, 120);
        text-decoration: underline;
    }
    
    .main{
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .main-text {
        color: white;
        border-radius: 20px;
        height: 200px;
        width: 40%;
    }
    
    .main-text1 {
        font-size: 1rem;
        margin-top: 30%;
        margin-left: 15%;
    }
    
    .main-text2 {
        font-size: 2rem;
        margin-left: 5%;
        margin-top: 10px;
    }
    
    .main-pic {
        background-size: cover;
        border-radius: 10px;
        height: 150px;
        width: 70%;
        box-shadow: -4px 4px 10px 15px;
        animation: photos 10s step-start 2s infinite;
    }
    
    @keyframes photos {
        20% {
            background-image: url("big box1.jpg");
        }
    
        40% {
            background-image: url("big box2.jpg")
        }
    
        60% {
            background-image: url("index photo1.avif")
        }
    
        80% {
            background-image: url("big box 4.webp")
        }
    
        100% {
            background-image: url("big box3.jpg")
        }
    }
    
    .main-pic:hover {
        cursor: pointer;
    }
    
    .main2 {
        height: 4%;
        width: 40%;
        color: white;
        font-size: 1rem;
        margin-left: 10px;
    }
    
    .our-mission {
        background-color: rgb(240, 240, 240);
        height: 500px;
        width: 100%;
        border-top: 1px solid rgb(255, 255, 255);
        margin-top: 30px;
    }
    
    .our-mission-bignev {
        margin-top: 100px;
    }
    .our-mission-heading {
        font-size: 1.5rem;
        margin-left: 5%;
        color: rgb(0, 0, 0);
    }
    
    .our-mission-content {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .our-mission-content-para {
        height:400px;
        width: 40%;
        font-size: 0.7rem;
        margin-top: 20px;
        color: rgb(0, 0, 0);
    }
    
    .our-mission-content-pic {
        height: 100px;
        width: 50%;
        margin-top: -130px;
        background-image: url("our mission.webp");
        background-size: cover;
        border-radius: 8px;
    }
    
    .our-mission-content-pic:hover {
        cursor: pointer;
    }
    
    .our-mission-heading2 {
        margin-left: 52%;
        font-size: 2rem;
        margin-top: 150px;
    }
    
    .empowering {
        height: 300px;
        width: 100%;
        background-color: rgb(240, 240, 240);
    }
    
    .empoering-bignev {
        margin-top: 30px;
        border-top: 1px solid white;
    }
    
    .empoering-heading2 {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-left: 60%;
        color: rgb(0, 0, 0);
    }
    
    .empoering-content {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .empoering-content-pic {
        height: 150px;
        width: 40%;
        background-image: url("empowering.jpg");
        background-size: cover;
        border-radius: 8px;
    }
    
    .empoering-content-para {
        height: 130px;
        width: 35%;
        font-size: 0.7rem;
        margin-top: 20px;
        color: rgb(0, 0, 0);
    }
    
    .service {
        height: 230px;
        width: 100%;
        margin-top: 30px;
        border-bottom: 1px solid gray;
    }
    
    .service-pic {
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .service-pic1 {
        height: 100px;
        width: 40%;
        background-image: url("battery service pic1.png");
        background-size: cover;
        border-radius: 8px;
    }
    
    .service-pic2 {
        height: 100px;
        width: 40%;
        background-image: url("battery service pic2.jpeg");
        background-size: cover;
        border-radius: 8px;
    }
    
    
    
    .service-para-button {
        background-color: rgb(0,0,31);
        color: white;
        height: 30px;
        width: 25%;
        border-radius: 8px;
        font-size: 0.8rem;
        margin: 20px 0px 0px 38%;
        box-shadow: 5px 5px 10px 5px rgb(122, 122, 122);
    }
    
    .service-para-button:hover {
        background-color: rgb(0,0,150);
    }
    
    .revolution {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .revolution-content {
        height: 200px;
        width: 40%;
        margin-top: 10%;
    }
    
    .revolution-pic {
        background-image: url("revolution photo.jpeg");
        background-size: cover;
        height: 200px;
        width: 40%;
        border-radius: 7px;
    }
    
    .revolution-content-text1 {
        font-size: 1.3rem;
        font-weight: 550;
        margin-left: 5%;
    }
    
    .revolution-content-text2 {
        font-size: 0.7rem;
        color: rgb(74, 74, 74);
        margin-top: 15px;
    }
    
    .footer {
        height: 230px;
        width: 100%;
        color: rgb(194, 194, 194);
        background-color: rgb(0, 0, 31);
    }
    
    .footer-box {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid black;
    }
    
    .footer-box1 {
        height: 120px;
        width: 50%;
        margin-top: -40px;
        
    }
    
    .footer-box1-upper-text {
        font-size: 0.8rem;
        margin-left: 5%;
    }
    
    .footer-box1-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        font-size: 0.6rem;
    }
    
    .footer-box1-form {
        height: 100px;
        width: 45%;
    }
    
    .footer-box1-form-input {
        margin: 0% 0px 0px 8%;
    }
    
    .footer-input {
        height: 8px;
        width: 95%;
        margin-top: 2%;
        border-radius: 3px;
        font-size: 0.4rem;
    }
    
    .footer-box1-submit {
        height: 10px;
        width: 80px;
        font-size: 0.5rem;
        margin: 8% 0% 0% 10%;
        border-radius: 4px;
    }
    
    .footer-box1-submit:hover {
        background-color: rgb(172, 172, 172);
    }
    
    .footer-box2-text {
        height: 100px;
        width: 45%;
    }
    
    
    .footer-box2-text1 {
        font-size: 0.9rem;
        margin-left: 5%;
    }
    
    ul {
        list-style: none;
    }
    
    ul li {
        margin-top: 2%;
        font-size: 0.5rem;
        margin-left: -30px;
    }
    
    .footer-box2 {
        height: 120px;
        width: 45%;
        margin-top: -40px;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;
        border-left: 1px solid red;
    }
    
    .contactus {
        height: 100px;
        width: 45%;
    }
    
    .contactus-text {
        font-size: 1rem;
        color: gray;
        margin-left: 20%;
    }
    
    .contactus-whatsup {
        font-size: 0.5rem;
        margin-top: 10px;
    }
    
    .contactus-phone {
        display: flex;
    }
    
    .contactus-phone-heading {
        font-size: 10px;
        font-weight: 900;
        margin: 8% 0% 0% 5%;
    }
    
    .contactus-phone-text {
        margin: 10% 0% 0% 3%;
        font-size: 7px;
    }
    
    .contactus-email {
        display: flex;
    }
    
    .contactus-email-heading {
        font-size: 10px;
        font-weight: 900;
        margin: 5% 0% 0% 5%;
    }
    
    .contactus-email-text {
        margin: 6% 0% 0% 3%;
        font-size: 7px;
    }
    
    .address {
        height: 110px;
        width: 45%;
    }
    
    .address-text {
        font-size: 1rem;
        color: gray;
        margin-left: 25%;
    }
    
    .address-box {
        height: 50px;
        width: 80%;
        margin: 5% 0% 0% 15%;
        font-size: 0.7rem;
    }
    
    .footer-last {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-lastbox {
        height: 20px;
        width: 70%;
        color: white;
        font-size: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} 